body { background: #424141 !important; }

.navbar-header{
 margin-left:5px;
 width:100%;
}

@font-face {
    font-family: "Malithi-Web";
    src: url(../fonts/malithi_web.ttf);
    font-weight: normal !important;

  }

.sinhala {
    font-family: "Malithi-Web" !important;
    text-align: justify;
}

/*This is not working bro. Can you make it work?*/
.navbar-toggler {
    background-color: "#C0C0C0" !important;
}

/*This is also not working. I wanna see nav-items with lighter bg color*/
.nav-item {
    background-color: "#C0C0C0" !important;
}
