body { background: #424141 !important; }

.navbar-header{
 margin-left:5px;
 width:100%;
}

@font-face {
    font-family: "Malithi-Web";
    src: url(../fonts/malithi_web.ttf);
    font-weight: normal !important;

  }

.sinhala {
    font-family: "Malithi-Web" !important;
    text-align: justify;
}

/*This is not working bro. Can you make it work?*/
.navbar-toggler {
    background-color: "#C0C0C0" !important;
}

.dropdown-menu {
    background-color: #1a1a1a !important;
}

.dropdown-item {
    color: #b3b3b3 !important;
}

.dropdown-item:hover {
    background-color: #b3b3b3;
    color: #1a1a1a !important;
}

.blackjumbo {
    background-color: #333333 !important;
}
