body { background: #424141 !important; }

.navbar-header{
 margin-left:5px;
 width:100%;
}

@font-face {
    font-family: "Malithi-Web";
    src: url(../fonts/malithi_web.ttf);
    font-weight: normal !important;

  }

.sinhala {
    font-family: "Malithi-Web" !important;
    text-align: justify;
}

.navbar-toggler {
    background-color: #14141f !important;
}

/*
.nav-item {
    background-color: "#C0C0C0" !important;
}
*/
